<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;600;700&family=Tomorrow&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/assets/fonts/icomoon/icomoon.css">
    <link rel="stylesheet" href="/assets/css/main.min.css">

    <script src="/assets/js/script.min.js" defer></script>

    <title>Manon Bruimaud | Portfolio</title>
</head>
<body class="dark-mode">
    <nav>
        <div class="logo">
            <i class="icon-menu" id="menu__hamburger"></i>
            <a href="/" class="logo__container">
                <img src="logo.svg" alt="Logo du portfolio" class="logo__img">
            </a>
        </div>
        <ul class="menu shidden hideNav">
            <li class="menu__item"><a href="#presentation">About me</a></li>
            <li class="menu__item"><a href="#portfolio">Portfolio</a></li>
            <li class="menu__item"><a href="#technos">Technos</a></li>
            <li class="menu__item"><a href="#contact">Contact</a></li>
        </ul>
        <ul class="links">
            <li class="links__item"><a href="/assets/CV-Manon_Bruimaud-en.pdf" target="_blank" class="icon-download"><i class="icon-download"></i></a></li>
            <li class="links__item"><a href="https://github.com/manonBr" target="_blank" class="icon-github-mark"><i class="icon-github-mark"></i></a></li>
        </ul>
    </nav>